        <!-- <hr/> -->
        <!-- <section id="downloads" class="clearfix"> -->
        <!--   <a href="https://github.com/Bruce-Connor/emacs-online-documentation/zipball/gh-pages" id="download-zip" class="button"><span>Download .zip</span></a> -->
        <!--   <a href="https://github.com/Bruce-Connor/emacs-online-documentation/tarball/gh-pages" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a> -->
          
        <!-- </section> -->
        <footer>
          <a href="http://doc.endlessparentheses.com">Emacs Online Documentation</a> is a courtesy of <a href="http://endlessparentheses.com">Endless Parentheses</a>.<br>
          Content of the documentation pages is part of GNU Emacs and available under GPL. Tactile theme by Jason Long.
        </footer>        
      </div>
    </div>
  </body>
</html> 
