{% include metadata.html %}
<header>
          <h1>Emacs Online Documentation</h1>
          <h2>An updated online documentation of <em>ALL</em> Emacs built-in functions and variables.</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="/app.html#main_content" id="android" class="button"><span>App</span></a>
          <a href="/variables.html#main_content" id="document" class="button"><span>Variables</span></a>
          <a href="/functions.html#main_content" id="document" class="button"><span>Functions</span></a>
          <a href="/faces.html#main_content" id="document" class="button"><span>Faces</span></a>
        </section>
        <hr>
