<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    

    <title>Emacs Online Documentation</title>
    <meta name="description" content="An updated online documentation of ALL Emacs functions, variables and faces.">
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Emacs Online Documentation</h1>
          <h2>An updated online documentation of <em>ALL</em> Emacs built-in functions and variables.</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="app.html#main_content" id="android" class="button"><span>App</span></a>
          <a href="variables.html#main_content" id="document" class="button"><span>Variables</span></a>
          <a href="functions.html#main_content" id="document" class="button"><span>Functions</span></a>
          <a href="faces.html#main_content" id="document" class="button"><span>Faces</span></a>
        </section>
        <hr>
